<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What the fridge?</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/asset/logo.jpeg">
</head>
<body>
    <main class="frontpage">
        <div id="overlay">
            
            <nav class="navbar">  
                <div id="logo">What The Fridge?</div>
            </nav> 

            <div class="herotext">
                <h1>Turn leftover ingredients into delicious meals.</h1>
                <p class="introtext">No food wasted. Endless recipes.</p>
                <p>Enter what's in your fridge to discover what you can cook today.</p>
                
                <div class="input-group">
                    <input id="hero-input" placeholder="e.g., tomatoes, chicken, onions..."></input>
                    <button id="heroStart">Find Recipes</button>
                </div>
            </div>

        </div> 
    </main>
</body>

</html>