
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What the fridge?</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/png" href="/asset/logo.jpeg" />
  </head>

  <body id="top">
    <main class="frontpage">
      <div id="overlay">

        <nav class="navbar">
          <div class="navlogo">
            <img src="/asset/real bg.png" alt="logo">
          </div>
          <div id="logo">What The Fridge?</div>
        </nav>

        <div class="herotext">
          <h1>Show us your fridge.<br>We'll do <em>the rest.</em></h1>
          <p class="introtext littletxt">No food wasted. Endless recipes.</p>
          <p class="littletxt">Enter what's in your fridge to discover what you can cook today.</p>

          <div class="input-group">
            <a href="/ingredients">
              <button type="button" id="hero-input">
                <span>Get Started</span>
              </button>
            </a>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>