<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What the fridge?</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/png" href="/asset/logo.jpeg" />
  </head>

  <body>
    <main class="frontpage">
      <div id="overlay">
        <nav class="navbar">
          <div class="navlogo">
            <img src="/asset/logo.jpeg" alt="logo" />
          </div>
          <div id="logo">What The Fridge?</div>
        </nav>
        <div class="herotext">
          <h1>Turn leftover ingredients into delicious meals.</h1>
          <p class="introtext">No food wasted. Endless recipes.</p>
          <p>
            Enter what's in your fridge to discover what you can cook today.
          </p>

          <div class="input-group">
            <button id="hero-input">Analyze button</button>
            <button id="heroStart">Find Recipes</button>
          </div>
        </div>
      </div>
    </main>
    <form action="/analyze-image" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <button type="submit">Analyze</button>
    </form>
  </body>
</html>
