<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
<link rel="icon" type="image/png" href="ass.png">
    <title>What the fridge </title>
</head>
<body>
    <div class="navbar"><div id="logo"> What the fridge? </div></div>
    <div class ="main">
        <form action="/analyze-image" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Analyze</button>
        </form>
    </div>
    <div class="footer"></div>
    
</body>
</html>